.quadro {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 3px;

  border: 2px solid var(--box-border);
}

.tarefa {
  float: left;
}

.vazio {
  background-color: var(--box-bg);
  float: left;
}

.dica {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--monitor-bg);
  border: 2px solid var(--box-border);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

.fechar {
  position: absolute;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tarefa,
  .vazio {
    width: 50%;
    height: 25%;
  }

  .dica {
    width: 90%;
    height: 20%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.4em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .tarefa,
  .vazio {
    width: 50%;
    height: 25%;
  }

  .dica {
    width: 70%;
    height: 20%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.4em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tarefa,
  .vazio {
    width: 25%;
    height: 50%;
  }

  .dica {
    width: 95%;
    height: 15%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .quebra-linha {
    display: none;
  }

  .fechar {
    right: 0.75%;
    top: -2.5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tarefa,
  .vazio {
    width: 25%;
    height: 50%;
  }

  .dica {
    width: 70%;
    height: 20%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.6em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tarefa,
  .vazio {
    width: 25%;
    height: 50%;
  }

  .dica {
    width: 90%;
    height: 15%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .quebra-linha {
    display: none;
  }

  .fechar {
    right: 1%;
    top: 5%;
  }
}
