<div class="quadro">
  <div class="tarefa" *ngFor="let t of tarefasArray">
    <tarefa
      [key]="t.key"
      [id]="t.id"
      [idProfissao]="idProfissao"
      [tipo]="t.tipo"
      [frase]="t.complemento"
      [texto]="t.verbo"
      [estado]="t.estado"
      [lista]="t.lista"
      [registro]="registro"
      (tarefaExecutada)="tarefaExecutada($event)"
    ></tarefa>
  </div>
  <div
    class="vazio"
    *ngFor="let item of [].constructor(maxNumTarefas - tarefasArray.length)"
  ></div>
  <div class="dica" [style.display]="dicaQuadro ? 'grid' : 'none'">
    Clique no botão para executar a tarefa, <br class="quebra-linha">mas cuidado, tarefas erradas custam
    1 vida
    <div class="fechar" (click)="fechar()">x</div>
  </div>
</div>
