table,
th,
td {
  border: 1px solid var(--cultured);
  border-collapse: collapse;
}

th {
  height: 15%;
  vertical-align: bottom;
  border: none;
  padding: 2% 2% 0 2%;
}

.relatorio {
  width: 100%;
  height: 100%;
}

.card-relatorio {
  background-color: var(--semi-white);
  float: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.tabela-relatorio {
  width: 100%;
  height: 80%;
}

.titulo {
  white-space: pre;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.vitoria::after {
  content: 'Rodada \A Concluída';
  color: var(--blue-jeans);
}

.derrota::after {
  content: 'Fim de \A Partida';
  color: var(--tart-orange);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-relatorio {
    width: 100%;
    height: 80%;
  }

  .titulo {
    font-size: 5.5vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .card-relatorio {
    width: 100%;
    height: 80%;
  }

  .titulo {
    font-size: 4.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 3.5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 2.5vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 2vw;
  }
}
