table,
th,
td {
  border: 1px solid var(--cultured);
  border-collapse: collapse;
}

th {
  height: 15%;
  vertical-align: bottom;
  border: none;
  padding: 2% 2% 0 2%;
}

tr {
  height: 10vh;
}

td {
  vertical-align: middle;
  text-align: center;
  height: 10vh;
}

td:nth-child(1) {
  width: 30%;
}

td:nth-child(2),
td:nth-child(3) {
  width: 35%;
}

.relatorio {
  width: 100%;
  height: 100%;
}

.card-relatorio {
  background-color: var(--semi-white);
  float: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.tabela-relatorio {
  width: 100%;
  overflow: auto;
}

.titulo {
  white-space: pre;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.vitoria::after {
  content: 'Rodada \A Concluída';
  color: var(--blue-jeans);
}

.derrota::after {
  content: 'Fim de \A Partida';
  color: var(--tart-orange);
}

.img-profissao {
  width: 25%;
  height: 100%;

  margin-left: 5%;

  background-color: var(--cultured);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  shape-outside: circle();
  clip-path: circle();

  float: left;
}

.info-amigo {
  width: 65%;
  height: 100%;
  margin-left: 5%;

  display: flex;
  justify-content: left;
  align-items: center;

  float: left;
}

.nick {
  padding-top: 5%;
  line-height: 0.75;
  font-weight: bold;
  text-align: left;
}

.texto-profissao {
  color: var(--blue-jeans);
  font-weight: 400;
}

.num {
  font-weight: bold;
}

.num-concluidas {
  color: var(--medium-sea-green);
}

.num-perdidas {
  color: var(--tart-orange);
}

.acao {
  float: left;
}

.proximo {
  background-color: var(--blue-jeans);
  color: var(--white);
  box-shadow: 0px 6px var(--saphire-blue);
}

.proximo:active {
  box-shadow: 0px 2px var(--saphire-blue);
}

.proximo::after {
  content: 'Próxima rodada';
}

.reiniciar {
  background-color: var(--space-cadet);
  color: var(--white);
  box-shadow: 0px 6px var(--black-fogra);
}

.reiniciar:active {
  box-shadow: 0px 2px var(--black-fogra);
}

.reiniciar::after {
  content: 'Nova partida';
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-relatorio {
    width: 100%;
    height: 80%;
  }

  .titulo {
    font-size: 5.5vw;
  }

  th {
    font-size: 3.5vw;
  }

  .nick {
    font-size: 4.5vw;
  }

  .texto-profissao {
    font-size: 2.5vw;
  }

  .num {
    font-size: 7vw;
  }

  .acao {
    width: 90%;
    height: 7.5%;
    margin-left: 5%;
    margin-top: 10%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .card-relatorio {
    width: 100%;
    height: 80%;
  }

  .titulo {
    font-size: 4.5vw;
  }

  th {
    font-size: 3vw;
  }

  .nick {
    font-size: 3.5vw;
  }

  .texto-profissao {
    font-size: 2vw;
  }

  .num {
    font-size: 6vw;
  }

  .acao {
    width: 70%;
    height: 7.5%;
    margin-left: 15%;
    margin-top: 7.5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 3.5vw;
  }

  th {
    font-size: 2vw;
  }

  .nick {
    font-size: 2.75vw;
  }

  .texto-profissao {
    font-size: 1.5vw;
  }

  .num {
    font-size: 4.5vw;
  }

  .acao {
    width: 50%;
    height: 7.5%;
    margin-left: 25%;
    margin-top: 2.5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 2.5vw;
  }

  th {
    font-size: 1.5vw;
  }

  .nick {
    font-size: 2vw;
  }

  .texto-profissao {
    font-size: 1.25vw;
  }

  .num {
    font-size: 3vw;
  }

  .acao {
    width: 50%;
    height: 7.5%;
    margin-left: 25%;
    margin-top: 2.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-relatorio {
    width: 70%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 15%;
  }

  .titulo {
    font-size: 2vw;
  }

  th {
    font-size: 1.25vw;
  }

  .nick {
    font-size: 1.5vw;
  }

  .texto-profissao {
    font-size: 1vw;
  }

  .num {
    font-size: 2vw;
  }

  .acao {
    width: 30%;
    height: 7.5%;
    margin-left: 35%;
    margin-top: 2.5%;
  }
}
