button {
  margin-top: 0px;
  margin-bottom: 6px;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.05s;
}

button:active {
  margin-top: 4px;
  margin-bottom: 2px;
}

button.active:active {
  margin-top: 4px;
  margin-bottom: 2px;
}
