button,
select {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 6px;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.05s;
  box-shadow: 0px 6px var(--box-shadow-color);
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
  display: none;
}

button:active,
select:active {
  margin-top: 4px;
  margin-bottom: 2px;
  box-shadow: 0px 2px var(--box-shadow-color);
}
