<button
    [style.background-color]="corFundo"
    [style.color]="corFonte"
    [style]="{'--box-shadow-color': sombra}"
    [style.font-size]="tamanhoFonte"
    [style.display]="displayBotao"
    (click)="inverter(); this.clique.emit({'id': id, 'tipo': tipo, 'texto': texto})"
  >
    {{texto}}
</button>

<select
    [style.background-color]="corFundo"
    [style.color]="corFonte"
    [style]="{'--box-shadow-color': sombra}"
    [style.font-size]="tamanhoFonte"
    [style.display]="displayLista"
    #l
    (change)="this.clique.emit({'id': id, 'tipo': tipo, 'texto': l.value})"
  >
    <option value="" selected hidden disabled>{{texto}}</option>
    <option *ngFor="let l of lista" [value]="l.texto">{{l.texto}}</option>
  </select>