<button
  #b
    [ngClass]="cor"
    [style.display]="displayBotao"
    (click)="inverter(); this.clique.emit({'key': key, 'id': id, 'idProfissao':idProfissao, 'tipo': tipo, 'texto': texto})"
  >
    {{texto}}
</button>

<select
    [ngClass]="cor"
    [style.display]="displayLista"
    #l
    (change)="this.clique.emit({'key': key, 'id': id, 'idProfissao':idProfissao, 'tipo': tipo, 'texto': l.value})"
  >
    <option value="" selected hidden disabled>{{texto}}</option>
    <option *ngFor="let l of lista" [value]="l">{{l}}</option>
  </select>