.jogo {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.inicio {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(3px) brightness(102%);
}

.central {
  height: 100%;
  width: 100%;
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .jogo {
    padding: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .jogo {
    padding: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .jogo {
    padding: 5%;
  }
}
