.tarefa {
  height: 100%;
  width: 100%;
  background-color: var(--box-bg);
  border: 1px solid var(--box-border);
  box-sizing: border-box;
}

.verde {
  animation-name: correto;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.vermelho {
  animation-name: errado;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.frase {
  width: 100%;
  height: 35%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botao {
  width: 90%;
  height: 40%;
  margin-left: 5%;
}

@keyframes correto {
  0% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
  40% {
    box-shadow: 0px 0px 5px var(--medium-sea-green) inset;
    border-color: var(--medium-sea-green);
  }
  100% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
}

@keyframes errado {
  0% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
  40% {
    box-shadow: 0px 0px 5px var(--tart-orange) inset;
    border-color: var(--tart-orange);
  }
  100% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .frase {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .frase {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .frase {
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .frase {
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .frase {
    font-size: 20px;
  }
}
