<div class="central">
  <div *ngIf="statusSala === 'espera'" [@fade]>
    <sala [keySala]="keySala" [(keyProfissaoSorteada)]="keyProfissaoSorteada" [(profissaoSorteada)]="profissaoSorteada"
      [nickJogador]="nickJogador" [listaProfissoesSorteadas]="listaProfissoesSorteadas" [numRodada]="numRodada"
      [vidas]="vidas">
    </sala>
  </div>
  <div *ngIf="statusSala === 'jogo'" [@fade]>
    <painel [keySala]="keySala" [keyJogador]="keyJogador" [vidas]="vidas" [keyProfissaoSorteada]="keyProfissaoSorteada"
      [profissaoSorteada]="profissaoSorteada" [tempoMonitor]="tempoMonitor"
      [numTarefasNecessarias]="numTarefasNecessarias" [numRodada]="numRodada">
    </painel>
  </div>
</div>