<div class="amigos">
  <div class="amigo" *ngFor="let l of listaProfissoesSorteadas | async">
    <div class="img-profissao" style.background-image="url({{baseUrl}}profissionais/{{l.imagem}})">
    </div>
    <div class="info-amigo">
      <p class="nick">{{l.responsavel}}<br/><span class="texto-profissao">{{l.profissao}}</span></p>
    </div>
  </div>
</div>

<div class="central">
  <div *ngIf="statusSala === 'espera'" [@fade]>
    <sala [keySala]="keySala" [(keyProfissaoSorteada)]="keyProfissaoSorteada" [(profissaoSorteada)]="profissaoSorteada"
      [nickJogador]="nickJogador" [listaProfissoesSorteadas]="listaProfissoesSorteadas" [numRodada]="numRodada"
      [vidas]="vidas">
    </sala>
  </div>
  <div *ngIf="statusSala === 'jogo'" [@fade]>
    <painel [keySala]="keySala" [keyJogador]="keyJogador" [vidas]="vidas" [keyProfissaoSorteada]="keyProfissaoSorteada"
      [profissaoSorteada]="profissaoSorteada" [tempoMonitor]="tempoMonitor"
      [numTarefasNecessarias]="numTarefasNecessarias" [numRodada]="numRodada">
    </painel>
  </div>
  <div *ngIf="statusSala === 'relatorio'" [@fade]>
    <relatorio></relatorio>
  </div>
</div>