<div class="sala">
  <div class="profissao-jogador">
  </div>

  <div class="amigos">
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
  </div>
</div>