<div class="sala">
  <div class="profissao-jogador">
    <div class="cabecalho">
      <div class="img-coracao">
        <p class="num-vidas">10x</p>
      </div>
    </div>

    <div class="rodada">
      <p>Rodada 1</p>
    </div>

    <div class="img-jogador"></div>

    <div class="info">
      <p>Sua profissão na rodada:<br/><span>Comissária de voo</span></p>
    </div>
  </div>

  <div class="amigos">
    <div class="profissao-amigo">
      <div class="img-amigo"></div>
      <div class="info-amigo">
        <p>Fabolas<br/><span>Comissária de voo</span></p>
      </div>
    </div>
  </div>

  <div class="acoes">
    <div class="acao">
      <button class="convidar">Convidar</button>
    </div>

    <div class="acao">
      <button class="pronto">Pronto</button>
    </div>
  </div>
</div>