.sala {
  width: 100%;
  height: 100%;
}

.container {
  float: left;
}

.fundo-profissao {
  background: var(--personagem-bg);

  shape-outside: circle();
  clip-path: circle();

  float: left;
}

.profissao-jogador {
  background-color: var(--box-bg);
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 1.25%;
  box-sizing: border-box;
  border: 2px solid var(--box-border);
  border-left: 5px solid var(--cultured);
}

.cabecalho {
  width: 100%;
  position: relative;
}

.img-coracao {
  position: absolute;

  background-image: url('https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}

.img-coracao:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.num-vidas {
  width: 100%;
  height: 100%;
  float: right;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: bold;
}

.rodada {
  width: 100%;
}

.rodada p {
  font-weight: bold;
  text-align: center;
}

.img-jogador {
  background-image: url('https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/profissionais/000-unknown.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 2.5% 0%;
}

.info span {
  font-weight: bold;
  color: var(--blue-jeans);
}

.configuracoes {
  background-color: var(--box-bg);
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 1.25%;
  box-sizing: border-box;
  border: 2px solid var(--box-border);
}

.amigos {
  float: left;
  overflow-y: auto;
}

.profissao-amigo {
  position: relative;
  float: left;
  background-color: var(--box-bg);
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 1%;
  border: 2px solid var(--box-border);
  border-left: 5px solid var(--cultured);
}

.lista-acoes {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  background-color: var(--monitor-bg);
  border: 2px solid var(--box-border);
  border-radius: 3px;
  padding: 50% 100%;

  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}

.kick:hover {
  color: var(--tart-orange);
}

.lista-acoes:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}

.img-amigo {
  float: left;
  background-image: url('https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/profissionais/000-unknown.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-amigo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.info-amigo p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-amigo span {
  color: var(--blue-jeans);
  font-weight: bold;
  overflow: auto;
}

.acoes {
  float: left;
}

.acao {
  float: left;
}

.kickar {
  background-color: var(--tart-orange);
  color: var(--white);
  box-shadow: 0px 6px var(--firebrick);
}

.kickar:active {
  box-shadow: 0px 2px var(--firebrick);
}

.convidar {
  background-color: var(--blue-jeans);
  color: var(--white);
  box-shadow: 0px 6px var(--saphire-blue);
}

.convidar:active {
  box-shadow: 0px 2px var(--black-fogra);
}

.pronto {
  background-color: var(--medium-sea-green);
  color: var(--white);
  box-shadow: 0px 6px var(--sea-green);
}

.pronto:active {
  box-shadow: 0px 2px var(--sea-green);
}

.pronto::before {
  content: 'Pronto';
}

.cancelar {
  background-color: var(--tart-orange);
  color: var(--white);
  box-shadow: 0px 6px var(--firebrick);
}

.cancelar:active {
  box-shadow: 0px 2px var(--firebrick);
}

.cancelar::before {
  content: 'Cancelar';
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .container {
    height: 40%;
    width: 100%;

    margin-right: 1.5%;
  }

  .configuracoes {
    display: none;
  }

  .profissao-jogador {
    width: 97.5%;
    height: 40%;
    margin: 1.25%;
  }

  .img-coracao {
    width: 7.5%;
  }

  .num-vidas {
    font-size: 2.5vw;
  }

  .rodada {
    height: 12.5%;
  }

  .rodada p {
    font-size: 7vw;
  }

  .fundo-profissao {
    width: 100%;
    height: 55%;
    margin-top: 2.5%;
  }

  .img-jogador {
    width: 100%;
    height: 95%;

    margin-top: 1%;
  }

  .info {
    height: 12.5%;
    margin-top: 2%;
    font-size: 4vw;
  }

  .info p {
    margin-top: 5%;
  }

  .info span {
    font-size: 1.2em;
  }

  .amigos {
    width: 100%;
    height: 47.5%;
  }

  .profissao-amigo {
    height: 33%;
    width: 97.5%;
    margin: 1.25%;
  }

  .img-amigo {
    width: 40%;
    height: 100%;
  }

  .info-amigo {
    width: 60%;
    height: 100%;
    font-size: 5vw;
  }

  .acoes {
    width: 100%;
    height: 7.5%;
    margin: 0;
  }

  .acao {
    height: 100%;
    width: 47.5%;
    margin: 1.25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    height: 40%;
    width: 100%;

    margin-right: 1.5%;
  }

  .configuracoes {
    display: none;
  }
  
  .profissao-jogador {
    width: 97.5%;
    height: 40%;
    margin: 1.25%;
  }

  .img-coracao {
    width: 6.25%;
  }

  .num-vidas {
    font-size: 2vw;
  }

  .rodada {
    height: 12.5%;
  }

  .rodada p {
    font-size: 5.5vw;
    margin-top: 1%;
  }

  .fundo-profissao {
    width: 100%;
    height: 55%;
    margin-top: 2.5%;
  }

  .img-jogador {
    width: 100%;
    height: 95%;

    margin-top: 1%;
  }

  .info {
    height: 12.5%;
    margin-top: 2%;
    font-size: 4vw;
  }

  .info p {
    margin-top: 5%;
  }

  .info span {
    font-size: 1.3em;
  }

  .amigos {
    width: 100%;
    height: 47.5%;
  }

  .profissao-amigo {
    height: 33%;
    width: 47.5%;
    margin: 1.25%;
  }

  .img-amigo {
    width: 40%;
    height: 100%;
  }

  .info-amigo {
    width: 60%;
    height: 100%;
    font-size: 3vw;
  }

  .acoes {
    width: 100%;
    height: 7.5%;
    margin: 0;
  }

  .acao {
    height: 100%;
    width: 47.5%;
    margin: 1.25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sala {
    padding: 0.5%;
  }

  .container {
    height: 80%;
    width: 48%;

    margin-right: 1.5%;
  }

  .configuracoes {
    height: 45%;
    width: 100%;

    margin-top: 3%;
  }

  .profissao-jogador {
    height: 52%;
    width: 100%;
  }

  .img-coracao {
    width: 10%;
  }

  .num-vidas {
    font-size: 1.5vw;
  }

  .rodada {
    height: 7.5%;
    margin-top: 2.5%;
  }

  .rodada p {
    font-size: 3.5vw;
    margin-top: 2.5%;
  }

  .fundo-profissao {
    width: 100%;
    height: 60%;
    margin-top: 5%;
  }

  .img-jogador {
    width: 100%;
    height: 95%;

    margin-top: 2.5%;
  }

  .info {
    width: 100%;
    height: 25%;
    margin-top: 2.5%;
    font-size: 3vw;
    line-height: 0.6;
  }

  .info span {
    font-size: 1.5vw;
  }

  .amigos {
    height: 80%;
    width: 50%;
  }

  .profissao-amigo {
    height: 25%;
    width: 97.5%;
    margin: 1.25%;
  }

  .img-amigo {
    width: 40%;
    height: 100%;
  }

  .info-amigo {
    width: 60%;
    height: 100%;
    font-size: 2.75vw;
  }

  .acoes {
    height: 10%;
    width: 70%;

    margin-top: 2.5%;
    margin-left: 15%;
  }

  .acao {
    height: 100%;
    width: 45%;
    margin-left: 2.5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sala {
    padding: 0.5%;
  }

  .container {
    height: 80%;
    width: 48%;

    margin-right: 1.5%;
  }

  .configuracoes {
    height: 45%;
    width: 100%;

    margin-top: 3%;
  }

  .profissao-jogador {
    height: 52%;
    width: 100%;
  }

  .img-coracao {
    width: 8.75%;
  }

  .num-vidas {
    font-size: 1.25vw;
  }

  .rodada {
    height: 10%;
  }

  .rodada p {
    font-size: 2.5vw;
    margin-top: 2.5%;
  }

  .fundo-profissao {
    width: 100%;
    height: 60%;
    margin-top: 2.5%;
  }

  .img-jogador {
    width: 100%;
    height: 95%;

    margin-top: 2.5%;
  }

  .info {
    width: 100%;
    height: 25%;
    margin-top: 2.5%;
    font-size: 2.5vw;
    line-height: 0.6;
  }

  .info span {
    font-size: 1.25vw;
  }

  .amigos {
    height: 80%;
    width: 50%;
  }

  .profissao-amigo {
    height: 25%;
    width: 47.5%;
    margin: 0% 1.25% 2.5% 1.25%;
  }

  .img-amigo {
    width: 100%;
    height: 70%;
  }

  .info-amigo {
    width: 100%;
    height: 30%;
    font-size: 1.75vw;
  }

  .acoes {
    height: 10%;
    width: 70%;

    margin-top: 2.5%;
    margin-left: 15%;
  }

  .acao {
    height: 100%;
    width: 45%;
    margin-left: 2.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sala {
    padding: 0.5%;
  }

  .container {
    height: 80%;
    width: 48%;

    margin-right: 1.5%;
  }

  .configuracoes {
    height: 45%;
    width: 100%;

    margin-top: 3%;
  }

  .profissao-jogador {
    height: 52%;
    width: 100%;
  }

  .img-coracao {
    width: 8.75%;
  }

  .num-vidas {
    font-size: 1vw;
  }

  .rodada {
    height: 12.5%;
  }

  .rodada p {
    font-size: 2.5vw;
    margin-top: 2.5%;
  }

  .fundo-profissao {
    width: 100%;
    height: 55%;
    margin-top: 2.5%;
  }

  .img-jogador {
    width: 100%;
    height: 95%;

    margin-top: 2.5%;
  }

  .info {
    width: 100%;
    height: 20%;
    margin-top: 2.5%;
    font-size: 2.5vw;
    line-height: 0.6;
  }

  .info span {
    font-size: 1.25vw;
  }

  .amigos {
    height: 80%;
    width: 50%;
  }

  .profissao-amigo {
    height: 25%;
    width: 47.5%;
    margin: 0% 1.25% 2.5% 1.25%;
  }

  .img-amigo {
    width: 100%;
    height: 70%;
  }

  .info-amigo {
    width: 100%;
    height: 30%;
    font-size: 1vw;
  }

  .acoes {
    height: 10%;
    width: 70%;

    margin-top: 2.5%;
    margin-left: 15%;
  }

  .acao {
    height: 100%;
    width: 45%;
    margin-left: 2.5%;
  }
}
