<div class="sala">
  <div class="profissao-jogador">
    <object data="https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/profissionais/006-doctor.svg" width="300" height="300"> </object>
  </div>

  <div class="amigos">
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
    <div class="profissao-amigo"></div>
  </div>

  <div class="acoes">
    <div class="acao">
      <button class="convidar">Convidar</button>
    </div>

    <div class="acao">
      <button class="pronto">Pronto</button>
    </div>
  </div>
</div>