.painel {
  height: 100%;
  width: 100%;
}

.monitor {
  height: 49%;
  width: 100%;
}

.quadro {
  height: 50%;
  width: 100%;
  margin-top: 1%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .monitor {
    height: 29%;
  }

  .quadro {
    height: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .monitor {
    height: 29%;
  }

  .quadro {
    height: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .monitor {
    height: 49%;
  }

  .quadro {
    height: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .monitor {
    height: 49%;
  }

  .quadro {
    height: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .monitor {
    height: 49%;
  }

  .quadro {
    height: 50%;
  }
}
