/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --white: #ffffff;
  --semi-white: #fcfcfc;
  --dark-purple: #160c28;
  --blue-jeans: #4ab6f2;
  --sea-green: #00bc65;
  --tart-orange: #fa403f;
  --saphire-blue: #186a94;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--semi-white);
  background-image: url(https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/backpattern.png);
}
