@keyframes input-animation {
  0% {
    color: var(--monitor-bg);
  }
  49% {
    color: var(--monitor-bg);
  }
  50% {
    color: var(--ft-color);
  }
  99% {
    color: var(--ft-color);
  }
  100% {
    color: var(--monitor-bg);
  }
}

@keyframes tempo {
  0% {
    width: 100%;
  }
  1% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  2.5% {
    width: 0;
  }
  5% {
    width: var(--tamanho);
  }
  95% {
    width: var(--tamanho);
  }
  97.5% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translate(-50%, 5%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes correto {
  0% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
  40% {
    box-shadow: 0px 0px 5px var(--medium-sea-green) inset;
    border-color: var(--medium-sea-green);
  }
  100% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
}

@keyframes errado {
  0% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
  40% {
    box-shadow: 0px 0px 5px var(--tart-orange) inset;
    border-color: var(--tart-orange);
  }
  100% {
    box-shadow: 0px 0px 5px var(--monitor-bg) inset;
    border-color: var(--box-border);
  }
}


.monitor {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--monitor-bg);
  border-radius: 3px;
  border: 2px solid var(--box-border);
  overflow-y: auto;
}

.dica {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--box-bg);
  border: 2px solid var(--box-border);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;

  animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s both;
}

.fechar {
  position: absolute;
  cursor: pointer;
}

.fechar:hover {
  color: var(--blue-jeans);
}

.letreiro {
  height: 90%;
  width: 100%;
}

.letreiro p {
  color: var(--white);
  font-family: 'Roboto Mono';
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90%;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 1 normal both;
  animation-timing-function: ease-in-out;
}

.letreiro p::after {
  content: '_';
  animation-name: input-animation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.tempo {
  width: 90%;
  height: 3px;
  margin-left: 5%;
  background-image: linear-gradient(
    to right,
    var(--eletric-purple),
    var(--blue-jeans)
  );
}

.tempo-decorrido {
  background-color: var(--monitor-bg);
  height: 100%;
  width: 100%;
  float: right;
  animation-name: tempo;
  animation-timing-function: linear;
}

.verde {
  animation-name: correto;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.vermelho {
  animation-name: errado;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .letreiro {
    font-size: 20px;
  }

  .dica {
    width: 90%;
    height: 25%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.4em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .letreiro {
    font-size: 22px;
  }

  .dica {
    width: 70%;
    height: 20%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.4em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .letreiro {
    font-size: 24px;
  }

  .dica {
    width: 95%;
    height: 15%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .quebra-linha {
    display: none;
  }

  .fechar {
    right: 0.75%;
    top: -2.5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .letreiro {
    font-size: 26px;
  }

  .dica {
    width: 70%;
    height: 20%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 1.6em;
  }

  .fechar {
    right: 1%;
    top: -7.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .letreiro {
    font-size: 28px;
  }

  .dica {
    width: 90%;
    height: 15%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .quebra-linha {
    display: none;
  }

  .fechar {
    right: 1%;
    top: 5%;
  }
}
