.monitor {
  height: 100%;
  width: 100%;
  background-color: var(--eeire-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.monitor p {
  color: var(--white);
  font-family: 'Roboto Mono';
}

.monitor p::after {
  content: '_';
}
