@keyframes input-animation {
  0% {
    color: var(--eeire-black);
  }
  49% {
    color: var(--eeire-black);
  }
  50% {
    color: var(--white);
  }
  99% {
    color: var(--white);
  }
  100% {
    color: var(--eeire-black);
  }
}

@keyframes tempo {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  2.5% {
    width: 0;
  }
  5% {
    width: var(--tamanho);
  }
  95% {
    width: var(--tamanho);
  }
  97.5% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.monitor {
  height: 100%;
  width: 100%;
  background-color: var(--eeire-black);
  border-radius: 3px;
  box-shadow: 0px 0px 10px var(--cultured);
}

.monitor p {
  color: var(--white);
  font-family: 'Roboto Mono';
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90%;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 10s 1 normal both, blinkTextCursor 500ms infinite normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.monitor p::after {
  content: '_';
  animation-name: input-animation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.tempo {
  width: 90%;
  height: 3px;
  margin-left: 5%;
  background-image: linear-gradient(
    to right,
    var(--eletric-purple),
    var(--blue-jeans)
  );
}

.tempo-decorrido {
  background-color: var(--eeire-black);
  height: 100%;
  width: 0%;
  float: right;
  animation-name: tempo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
