.inicio {
  width: 100%;
  height: 100%;
}

.box {
  float: left;
  box-sizing: border-box;
}

.logo {
  /*background-image: url('https://raw.githubusercontent.com/fabioconejo/taskforce/master/src/assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;*/

  background-color: var(--monitor-bg);
  border: 2px solid var(--box-border);
  border-radius: 3px;
  font-family: 'Roboto Mono';
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  box-sizing: border-box;
}

.logo::after {
  content: '_';
  animation-name: input-animation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.card {
  background-color: var(--box-bg);
  height: 90%;
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5%;
  border: 2px solid var(--box-border);
  border-radius: 3px;
  padding-top: 2.5%;
  box-sizing: border-box;
}

.personagem {
  width: 80%;
  height: 55%;
  margin-left: 10%;

  shape-outside: circle();
  clip-path: circle();
  background: var(--personagem-bg);
  float: left;
}

.img-personagem {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  animation: pop 4s ease infinite;
}

.nick {
  width: 80%;
  height: 20%;
  margin-left: 10%;
  float: left;
}

.nick p {
  font-weight: 400;
  margin-top: 5%;
}

.nick input {
  width: 100%;
  height: 30%;
  padding-top: 15px;
  padding-bottom: 5px;

  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--ft-color);

  color: var(--ft-color);
  text-align: center;
}

.login {
  width: 100%;
  height: 20%;
}

.btn-login {
  width: 80%;
  height: 50%;
  margin-left: 10%;

  background-color: var(--blue-jeans);
  color: var(--white);
  box-shadow: 0px 6px var(--saphire-blue);
}

.btn-login:active {
  margin-top: 4px;
  margin-bottom: 2px;
  box-shadow: 0px 2px var(--black-fogra);
}

.btn-login:disabled {
  background-color: var(--cultured);
  box-shadow: 0px 6px var(--silver-chalice);
  color: var(--silver-chalice);
  cursor: default;
}

.box-tutorial .card {
  padding: 0% 5%;
}

.titulo {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--blue-jeans);
}

.imagem {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.texto {
  width: 95%;
  height: 30%;
  margin-left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4;
}

.navegacao {
  width: 100%;
  height: 10%;
}

.slot {
  width: 5%;
  height: 100%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  float: left;
  background-color: var(--slot-bg);
  shape-outside: circle();
  clip-path: circle();
  cursor: pointer;
}

.slot-ativo {
  background-color: var(--slot-ativo);
}

@keyframes pop {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes input-animation {
  0% {
    color: var(--monitor-bg);
  }
  49% {
    color: var(--monitor-bg);
  }
  50% {
    color: var(--ft-color);
  }
  99% {
    color: var(--ft-color);
  }
  100% {
    color: var(--monitor-bg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    height: 15%;
    width: 80%;
    margin-left: 10%;
  }

  .box {
    width: 100%;
    height: 85%;
  }

  .box-tutorial {
    display: none;
  }

  .img-personagem {
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
  }

  .nick p {
    font-size: 4vw;
  }

  .nick input {
    font-size: 5vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .logo {
    height: 15%;
    width: 80%;
    margin-left: 10%;
  }

  .box {
    width: 100%;
    height: 85%;
  }

  .box-tutorial {
    display: none;
  }

  .img-personagem {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }

  .nick p {
    font-size: 3.5vw;
  }

  .nick input {
    font-size: 4.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    height: 15%;
    width: 80%;
    margin-left: 10%;
  }

  .box {
    width: 100%;
    height: 85%;
  }

  .box-tutorial {
    display: none;
  }

  .img-personagem {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }

  .nick p {
    font-size: 3vw;
  }

  .nick input {
    font-size: 4vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .logo {
    height: 15%;
    width: 50%;
    margin-left: 25%;
  }

  .box {
    width: 50%;
    height: 85%;
  }

  .img-personagem {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }

  .nick p {
    font-size: 2vw;
  }

  .nick input {
    font-size: 2.5vw;
  }

  .titulo {
    font-size: 3.5vw;
  }

  .texto {
    font-size: 1.75vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo {
    height: 15%;
    width: 40%;
    margin-left: 30%;
  }

  .box {
    width: 40%;
    height: 85%;
    box-sizing: content-box;
  }

  .box-login {
    padding-left: 5%;
    padding-right: 5%;
  }

  .box-tutorial {
    padding-left: 5%;
    padding-right: 5%;
  }

  .img-personagem {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }

  .nick p {
    font-size: 1.5vw;
  }

  .nick input {
    font-size: 2vw;
  }

  .titulo {
    font-size: 3vw;
  }

  .texto {
    font-size: 1.5vw;
  }
}
