<div class="inicio">
  <div class="logo"></div>
  <div class="box box-login">
    <div class="card">
      <div class="personagem">
        <div class="img-personagem" style.background-image="url({{baseUrl}}{{imagemBox}})"></div>
      </div>
      <form class="nick">
        <p>Nickname:</p>
        <input type="text" maxlength="10" (keyup)="onKey($event)">
      </form>
      <div class="login">
        <button *ngIf="!keySala" class="btn-login">
          Criar sala
        </button>
        <button *ngIf="keySala" class="btn-login" (click)="entrarSala()" [disabled]="nickJogador === ''">
        Entrar na sala
      </button>
      </div>
    </div>
  </div>
  <div class="box box-tutorial">
    <div class="card"></div>
  </div>
</div>