<div class="inicio">
  <div class="logo"></div>
  <div class="box box-login">
    <div class="card">
      <div class="personagem">
        <div class="img-personagem" style.background-image="url({{baseUrl}}profissionais/{{imagemBox}})"></div>
      </div>
      <form class="nick">
        <p>Nickname:</p>
        <input type="text" maxlength="10" (keyup)="onKey($event)">
      </form>
      <div class="login">
        <button *ngIf="!keySala" class="btn-login" (click)="criarSala()" [disabled]="nickJogador === ''">
          Criar sala
        </button>
        <button *ngIf="keySala" class="btn-login" (click)="entrarSala()" [disabled]="nickJogador === ''">
          Entrar na sala
      </button>
      </div>
    </div>
  </div>
  <div class="box box-tutorial">
    <div class="card">
      <div class="titulo">Como jogar?</div>
      <div class="imagem" style.background-image="url({{baseUrl}}{{carrossel[numCarrossel].imagem}}"></div>
      <div class="texto">{{carrossel[numCarrossel].texto}}</div>
      <div class="navegacao">
        <div class="slot" [ngClass]="numCarrossel === 0 ? 'slot-ativo' : ''"></div>
        <div class="slot" [ngClass]="numCarrossel === 1 ? 'slot-ativo' : ''"></div>
        <div class="slot" [ngClass]="numCarrossel === 2 ? 'slot-ativo' : ''"></div>
        <div class="slot" [ngClass]="numCarrossel === 3 ? 'slot-ativo' : ''"></div>
        <div class="slot" [ngClass]="numCarrossel === 4 ? 'slot-ativo' : ''"></div>
      </div>
    </div>
  </div>
</div>